---
---

<!DOCTYPE html>
<html>
<head>
    {% include posthog.html %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ site.title }}{% if page.heading and page.heading != "My Doggos" %} - {{page.heading}}{% endif %}</title>
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/icons.css">
</head>
<body>
    <div class="container">
        <h1>{% if page.heading %}{{ page.heading }}{% else %}{{page.title}}{% endif %}</h1>
        <div class="content">
            {{ content }}
        </div>
    </div>
</body>
</html>